{% import "_macros.html" as macros %}
{% import "common.html" as common %}
{% extends "base.html" %}

{% block header %}
<header class="box-shadow">
    {{ macros::render_header() }}
</header>
{% endblock header %}

{% block content %}
<div class="heading-text">{{ page.description }}</div>
<div class="blog-meta">
    <span class="blog-date">{{ page.date | date(format="%B %d, %Y") }}</span>
    {% if page.extra.author %}
    <span class="blog-author"> by {{ common::author(id=page.extra.author) }}</span>
    {% endif %}
</div>
{{ page.content | safe }}
{% endblock content %}
