{% extends "base.html" %}

{% block header %}
<header class="box-shadow">
    {% include "_macros.html" %}
</header>
{% endblock header %}

{% block content %}
<div class="heading-text">{{ page.description }}</div>
<div class="blog-meta">
    <span class="blog-date">{{ page.date | date(format="%B %d, %Y") }}</span>
    {% if page.extra.author %}
    <span class="blog-author"> by {{<author id={page.extra.author} config={config} />}}</span>
    {% endif %}
</div>
{{ page.content | safe }}
{% endblock content %}
